$navFooter-bgc: #000;
$light-bgc: #f5f5f5;
$dark-bgc: #9a9a9a;
$darkest-bgc: #333333;
$button-color: #ff8b38;
$dark-buttonColor: #333333;
$icon-color: #ff8b38;
$dark-textColor: #86878b;
$light-textColor: #fff;
$dark-headingColor: #333333;
$darkest-headingColor: #212121;
$light-headingColor: #fff;
$placeholder-color: #bdbdbd;
